# version: "3.8"

services:
  backend:
    build: ./server
    ports:
      - "8000:8000"
    env_file: .env
    volumes:
      - ./server:/app
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload

  frontend:
    build: ./client
    ports:
      - "5173:5173"
    volumes:
      - ./client:/app
      - /app/node_modules
    command: [ "npm", "run", "dev", "--", "--host" ]
    # Added --host to expose to localhost from container
